node_modules
# Keep environment variables out of version control
.env

/generated/prisma
# Yerel ürün görselleri
# Yerel ürün görselleri
/frontend/public/products/*
!/frontend/public/products/.gitkeep
